<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template-empty}">
<head>
<meta charset="utf-8"/>
<title>Login - Poseidon</title>
</head>
<body>
<div layout:fragment="content">
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-6">
					<h3>Login with username and password</h3>
					<div th:if="${param.error}" class="red">Incorrect email or password.</div>
					<div th:if="${param.logout}" class="red">You have been logged out.</div>
					<form th:action="@{/login}" method="post">
						<div class="spacer20">
							<label for="username">Username</label>
							<input type="text" name="username" placeholder="Username">
						</div>
						<div class="spacer20">
							<label for="password">Password</label>
							<input type="password" name="password" placeholder="Password">
						</div>
						<div class="spacer20">
							<button type="submit" class="btn btn-primary">Login</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>