<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template-list}">
<head>
<meta charset="utf-8"/>
<title>Curve Points - Poseidon</title>
</head>
<body>
<div layout:fragment="content">
	<div class="section">
		<div class="container">
			<div class="row green" th:text="${#httpServletRequest.getParameter('success')}"></div>
			<div class="row red" th:text="${#httpServletRequest.getParameter('error')}"></div>
			<div class="row"><h2>Curve Point List</h2></div>
			<div class="row">
				<a href="/curvePoint/add" class="btn btn-primary btn-sm">Add New</a>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Id</th>
							<th>CurvePointId</th>
							<th>Term</th>
							<th>Value</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="curve : ${curvePoints}">
							<td style="width: 10%" th:text="${curve.id}"></td>
							<td th:text="${curve.curveId}"></td>
							<td th:text="${curve.term}"></td>
							<td style="width: 25%" th:text="${curve.value}"></td>
							<td style="width: 15%" class="text-center">
								<a th:href="@{/curvePoint/update/{id}(id=${curve.id})}">Edit</a>&nbsp;|&nbsp;
								<a th:href="@{/curvePoint/delete/{id}(id=${curve.id})}">Delete</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</body>
</html>