<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template-menu}">
<head>
<meta charset="utf-8"/>
<title>Ratings - Poseidon</title>
</head>
<body>
<div layout:fragment="content">
	<div class="section">
		<div class="container">
			<div class="row green" th:text="${#httpServletRequest.getParameter('success')}"></div>
			<div class="row red" th:text="${#httpServletRequest.getParameter('error')}"></div>
			<div class="row"><h2>Rating List</h2></div>
			<div class="row">
				<a href="/rating/add" class="btn btn-primary btn-sm">Add New</a>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Id</th>
							<th>MoodysRating</th>
							<th>SandPRating</th>
							<th>FitchRating</th>
							<th>Order</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="rate : ${ratings}">
							<td style="width: 10%" th:text="${rate.id}"></td>
							<td th:text="${rate.moodysRating}"></td>
							<td th:text="${rate.sandPRating}"></td>
							<td th:text="${rate.fitchRating}"></td>
							<td th:text="${rate.orderNumber}"></td>
							<td style="width: 15%" class="text-center">
								<a th:href="@{/rating/update/{id}(id=${rate.id})}">Edit</a>&nbsp;|&nbsp;
								<a th:href="@{/rating/delete/{id}(id=${rate.id})}">Delete</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</body>
</html>