<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template-list}">
<head>
<meta charset="utf-8"/>
<title>Rule - Poseidon</title>
</head>
<body>
<div layout:fragment="content">
	<div class="section">
		<div class="container">
			<div class="row"><h2>Rule List</h2></div>
			<div class="row">
				<a href="/ruleName/add" class="btn btn-primary btn-sm">Add New</a>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Id</th>
							<th>Name</th>
							<th>Description</th>
							<th>Json</th>
							<th>Template</th>
							<th>Sql</th>
							<th>SqlPart</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="rule : ${ruleNames}">
							<td style="width: 10%" th:text="${rule.id}"></td>
							<td th:text="${rule.name}"></td>
							<td th:text="${rule.description}"></td>
							<td th:text="${rule.json}"></td>
							<td th:text="${rule.template}"></td>
							<td th:text="${rule.sqlStr}"></td>
							<td th:text="${rule.sqlPart}"></td>
							<td style="width: 15%" class="text-center">
								<a th:href="@{/ruleName/update/{id}(id=${rule.id})}">Edit</a>&nbsp;|&nbsp;
								<a th:href="@{/ruleName/delete/{id}(id=${rule.id})}">Delete</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</body>
</html>