<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template-list}">
<head>
<meta charset="utf-8"/>
<title>Rule - Poseidon</title>
</head>
<body>
<div layout:fragment="content">
	<div class="section">
		<div class="container">
			<div class="row"><h2>Rule List</h2></div>
			<div class="row">
				<a href="/ruleName/add" class="btn btn-primary btn-sm">Add New</a>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Id</th>
							<th>Name</th>
							<th>Description</th>
							<th>json</th>
							<th>template</th>
							<th>sql</th>
							<th>sqlPart</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
					<!-- TODO: Show all RuleName to the table, the Action column will have Edit & Delete buttons -->
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</body>
</html>