<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template-empty}">
<head>
<meta charset="utf-8"/>
<title>Home - Poseidon</title>
</head>
<body>
<div layout:fragment="content">
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-6">
					<h3> HOME PAGE </h3>
					<p>
					    <a href="/login">Login</a> or create one <a href="/user/list">User management</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>