<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	lang="en">
<head>
	<meta charset="UTF-8">
	<title>Poseidon</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<header>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<a href="/bidList/list">Bid List</a>&nbsp;|&nbsp;
				<a href="/curvePoint/list">Curve Points</a>&nbsp;|&nbsp;
				<a href="/rating/list">Ratings</a>&nbsp;|&nbsp;
				<a href="/trade/list">Trade</a>&nbsp;|&nbsp;
				<a href="/ruleName/list">Rule</a>
			</div>
			<div class="col-6 text-right">
				Logged in user: <b th:inline="text"  class="user"> [[${#httpServletRequest.remoteUser}]] </b>
				<form th:action="@{/app-logout}" method="POST">
					<input type="submit" value="Logout"/>
				</form>
			</div>
		</div>
	</div>
</header>
<div class="container">
	<section layout:fragment="content"></section>
</div>
<footer>
	<div class="navbar-fixed-bottom">
		<div class="logo"></div>
	</div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>