<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template-menu}">
<head>
<meta charset="utf-8"/>
<title>Bid list - Poseidon</title>
</head>
<body>
<div layout:fragment="content">
	<div class="section">
		<div class="container">
			<div class="row green" th:text="${#httpServletRequest.getParameter('success')}"></div>
			<div class="row red" th:text="${#httpServletRequest.getParameter('error')}"></div>
			<div class="row"><h2>Bid List</h2></div>
			<div class="row">
				<a href="/bidList/add" class="btn btn-primary btn-sm">Add New</a>
				<table class="table table-bordered">
					<thead>
						<tr>
							<th>Id</th>
							<th>Account</th>
							<th>Type</th>
							<th>Bid Quantity</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="bid : ${bidLists}">
							<td style="width: 10%" th:text="${bid.bidListId}"></td>
							<td th:text="${bid.account}"></td>
							<td th:text="${bid.type}"></td>
							<td style="width: 25%" th:text="${bid.bidQuantity}"></td>
							<td style="width: 15%" class="text-center">
								<a th:href="@{/bidList/update/{id}(id=${bid.bidListId})}">Edit</a>&nbsp;|&nbsp;
								<a th:href="@{/bidList/delete/{id}(id=${bid.bidListId})}">Delete</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</body>
</html>